{% extends 'layout.html' %}

{% block body %}
<table style="">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Text</th>
    </tr>
    {% for art in articles %}
        <tr>
            <td>{{ art.id }}</td>
            <td>{{ art.title }}</td>
            <td>{{ art.content|truncatechars:50 }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
