<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
        a {
            color: #369;
        }
        table {
            border: 1px solid #333;
        }
        th, td {
            padding: 4px;
            margin: 2px;
            border: 1px solid #ccc;
        }
        td {
            border: 1px solid #ccc;
        }
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <p>
        <a href="{{ path('speed_basic_homepage') }}">Homepage</a>
        <a href="{{ path('speed_basic_articles') }}">Articles</a>
        <a href="{{ path('speed_basic_articles', {'keyword': 'minus'}) }}">Articles find</a>
    </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
