<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
        a {
            color: #369;
        }
        table {
            border: 1px solid #333;
        }
        th, td {
            padding: 4px;
            margin: 2px;
            border: 1px solid #ccc;
        }
        td {
            border: 1px solid #ccc;
        }
        </style>
        {% endblock %}
    </head>
    <body>
    <p>
        <a href="{% url 'home' %}">Homepage</a>
        <a href="{% url 'articles' %}">Articles</a>
        <a href="{% url 'articles_key' 'minim' %}">Articles find</a>
    </p>
        {% block body %}++{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
